body {
	font-family: Arial;
	font-size:12px;
	background-color: #CCCCCC;
}
.bold {
	font-weight:bold;
}
.lootAvailableDiv {
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	border:1px solid #333333;
	overflow-x:scroll;
	overflow-y:hidden;
	margin-top:10px;
}
.graphs th {
	vertical-align: middle;
	padding:10px;
	font-variant: small-caps;
	font-size:18px;
	font-weight:bold;
	width:1%;
}
.graphs th.timeScaleHeader {
	font-size:12px;
	padding:0px;
}
.graphs td {
	width:100%;
	text-align: center;
}
.graphs .graphsLoading {
	font-variant: small-caps;
	font-weight: bold;
	font-size:16px;
}
.graphData td {
	min-width:1px;
	max-width:1px;
	vertical-align:bottom;
}
.graphData td div {
	width:1px;
}
.timeGraph {
	background-color:#EEEEEE;
	height:20px;
}
.timeGraph td div {
	height:20px;
	font-size:12px;
	font-weight:bold;
	font-variant: small-caps;
	line-height:20px;
	overflow:none;
}
.lootAvailableNow {
	border:1px solid #000000;
}
.lootIndexTable {
	padding:10px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	height:100%;
}
.lootIndexTable td {
	line-height: 10px;
}
.lootIndexTable th {
	white-space: nowrap;
	text-align: center;
	font-size:84px;
	font-weight:bold;
	letter-spacing:2px;
}
.lootIndexTable td.currentLootAvailable {
	font-variant: small-caps;
	font-weight: bold;
	white-space: nowrap;
	text-align: center;
	letter-spacing: 1px;
	font-size:22px;
	padding-top:5px;
}
.lootIndexTable td.onScale {
	font-size:10px;
	white-space: nowrap;
	text-align: center;
}

.worldwideStatsTable {
	padding:10px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	height:100%;
	width:355;
}
.worldwideStatsTable th {
	white-space: nowrap;
	font-size:14px;
	text-align: left;
	font-variant: small-caps;
}
.worldwideStatsTable .worldwideStatsHeading {
	font-size:22px;
	letter-spacing: 1px;
	font-variant: small-caps;
	text-align: center;
	padding-bottom:6px;
}
.worldwideStatsTable td {
	white-space: nowrap;
	font-size:14px;
	font-weight:bold;
	letter-spacing:2px;
	text-align: right;
	padding-left:20px;
}
.forecastTable {
	width:420px;
	padding:7px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	height:100%;
}
.forecastTable th {
	font-size:22px;
	font-weight:bold;
	padding-bottom: 10px;
	padding-top:1px;
	letter-spacing: 1px;
	font-variant: small-caps;
	text-align: center;
}
.forecastTable td {
	padding-bottom: 10px;
	font-size:15px;
	font-weight:bold;
	font-variant: small-caps;
	text-align: center;
}
.forecastTable td div.mainHeading {
	text-align: center;
	font-weight: bold;
	font-variant: small-caps;
	font-size:24px;
	letter-spacing: 1px;
}
.forecastTable td div.mainHeading2 {
	text-align: center;
	font-weight: bold;
	font-size:30px;
	letter-spacing: 2px;
}
.forecastTable td div.peopleBeenHere {
	font-variant: small-caps;
	background-color:#0072BC;
	color:#63CCF6;
	font-weight:bold;
	font-style: italic;
	padding:2px 10px;
	font-size:12px;
	border:1px solid #63CCF6;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	margin-right:5px;
	text-align: center;
	cursor:default;
	margin:10px 15px 2px 15px;
}
.forecastTable td div.peopleHereNow {
	font-variant: small-caps;
	background-color:#F3702F;
	color:#FCD2BD;
	font-weight:bold;
	font-style: italic;
	padding:2px 10px;
	font-size:12px;
	border:1px solid #FAC2A7;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	margin-right:5px;
	text-align: center;
	cursor:default;
	margin:0px 15px;
}


.lootDetailsTable {
	border:1px solid #333333;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
}
.lootDetailsTable th {
	border-right:1px solid #333333;
	background-color: #A187BE;
	padding:3px 5px;
	font-size:16px;
	font-variant: small-caps;
	white-space: nowrap;
}
.lootDetailsTable th.online {
	background-color: #F7977A;
}
.lootDetailsTable th.offline {
	background-color: #82CA9D;
}
.lootDetailsTable th.lootMinutes {
	background-color: #7EA7D8;
}
.lootDetailsTable td {
	border-top:1px solid #333333;
	border-right:1px solid #333333;
	padding:5px 3px;
	text-align: center;
	background-color: #D0C3DF;
	white-space: nowrap;
	font-size:14px;
}
.lootDetailsTable td.online {
	background-color: #FBCBBD;
}
.lootDetailsTable td.offline {
	background-color: #C1E5CE;
}
.lootDetailsTable td.lootMinutes {
	background-color: #BFD3EC;
	font-weight: bold;
}
.lootDetailsTable td.percent {
	font-size:12px;
	font-style: italic;
	color:#333333;
}
.lootDetailsTable .lightRightBorder {
	border-right:1px dotted #999999;
}
.lootDetailsTable .darkerRightBorder {
	border-right:1px dotted #000000;
}
.lootDetailsTable .produced {
	font-size:11px !important;
	color: #157E47;
	font-weight: normal !important;
}
.lootDetailsTable .consumed {
	font-size:11px !important;
	color: #AA292C;
	font-weight: normal !important;
}
.infoTable {
	font-style:italic;
	border:1px solid #333333;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	font-size:14px;
	padding:0px 12px;
	background-color:#FFFBCD;
	width:360px;
}
.adHolder {
	/*
	width:120px;
	height:600px;
	border:1px dotted #777777;
	*/
}


div.appStoreContainer {
/*	background-color: #333333;*/
/*	background-color: #f8f6f3;*/
	background-color: #FAE6C4;
	padding:10px 4px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
/*	border: 3px solid #EEEEEE;*/
	border: 3px solid #eeb655;
}

div.appStoreContainer div {
	text-align: center;
	color:#000000;
}

div.appStoreContainer div.nowAvailable {
	font-weight: bold;
	padding-top:10px;
	font-size:16px;
}

div.appStoreContainer div.inThe {
	font-weight: bold;
	font-size:14px;
}

div.appStoreContainer div.appStore {
	font-weight: bold;
	font-size:20px;
}

div.appStoreContainer div.separator {
	border-top:1px solid #eeb655;
	margin:10px 4px;
}

div.appStoreContainer div.pushAlert {
	font-weight: bold;
	font-variant: small-caps;
	font-size:14px;
	white-space: nowrap;
}

div.appStoreContainer div.comingSoon {
	font-weight: bold;
	font-size:14px;
	padding-bottom:4px;
}

div.appStoreContainer div.comingSoonDevice {
	font-weight: bold;
	font-variant: small-caps;
	font-size:16px;
	line-height: 14px;
}

div.appStoreContainer div.pushMessageExample {
	margin-top:5px;
}

div.appStoreContainer div.pushMessageExample img {
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-border-radius: 4px;

}



.languageSelect {
	margin-top:3px;
	letter-spacing: 2px;
	padding:0px 5px;
	font-size:12px;
	font-weight: bold;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	border:1px solid #000000;
	background-color: #D9E5F4;
}