<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% if page.desc %}{{ page.desc }}{% else %}{{ site.description }}{% endif %}" />
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}" />
    <link rel="shortcut icon" href="{{ '/assets/img/favicon.png' | prepend: site.baseurl }}" type="image/x-icon">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!-- stylesheets and javascripts -->
    <link media="all" href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link media="all" href="https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link media="all" rel="stylesheet" href="{{ '/assets/css/site.css' | prepend: site.baseurl }}">
	{% if page.resume %}
    <link media="all" rel="stylesheet" href="{{ '/assets/css/resume.css' | prepend: site.baseurl }}">
	{% endif %}
    <link media="all" rel="stylesheet" href="{{ '/assets/css/syntax_highlight.css' | prepend: site.baseurl }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
	{% if page.coc %}
    <script type="text/javascript" src="{{ '/assets/js/coc.js' | prepend: site.baseurl }}"></script>
	{% endif %}
	{% include analytics.html %}
</head>