@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,400italic,700,700italic);

body {
    font-family: 'Verdana', Helvetica, sans-serif;
    padding-bottom: 60px;
    padding-top: 60px;
}

@media (max-width: 992px) {
    body {
        padding-bottom: 120px;
    }
}

code {
    font-family: 'Courier New', Courier, monospace;
}

blockquote{
    font-size: 1.2em;
}

/* navigation bar */
.title-holder{
    display: inline-block;
    padding-top: 15px;
    color : #002E62;
    font-size: 1.8em;
    text-shadow: 2px 2px 4px rgba(150, 150, 150, 1);
}

.navbar{
    font-family: 'Josefin Sans', sans-serif;
}

.navbar .navbar-brand {
    padding: 0px;
}

.navbar .navbar-brand img {
    float: left;
    width: 50px;
}

.navbar-right li{
    font-size: 1.6em;
}

@media (max-width: 992px) {
    #main-menu li{
        font-size: 1.4em;
    }
    #main-menu li a {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* page */
.profile-img{
    width: 250px;
    height: 250px;
    padding: 10px;
    border: 8px double #aaa;
    border-radius: 50%;
}

.home-menu {
    margin: 20px auto;
    text-align: center;
}

.home-menu td {
    display: inline-block;
    background: #fff;
    border: 2px solid #ddd;
    padding: 5px;
    border-radius: 50%;
    box-shadow: inset 0px 8px 48px #ddd;
}

.home-menu a {
    display: block;
    background-color: #f7f7f7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
    background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
    background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
    background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
    background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7); 
    color: #aaa;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    border-radius: 50%;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}

.home-menu a:hover{
    text-decoration: none;
    color: #555;
    background: #fff;
    box-shadow: 0px 3px 8px #aaa;
}

.page-header{
    margin: 10px 0;
    text-align: center;
    padding-bottom: 25px;
    font-family: 'Josefin Sans', sans-serif;
}

.page-header h1{
    margin: 0;
    font-size: 4.0em;
}

.page-content{
    font-size: 1.2em;
    text-align: justify;
}

/* project grid */
.project-item{
    height: 250px;
    text-align: center;
    margin: 20px 10px;
    border: 2px solid #aaa;
    border-radius: 5px;
    box-shadow: 3px 3px 8px #333;
}

.project-title{
    margin-top: 20px;
    font-size: 1.2em;
    color: #09c;
}

.project-tag{
    color: #33b5e5;
}

.project-descr{
    font-size: 0.9em;
    padding-top: 5px;
    color: #111;
}

.project-link{
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 0;
}

@media (max-width: 768px){
    .project-item{
        height: 300px;
    }
    .project-link{
        bottom: 0px;
    }
}

/* footer */
.footer {
    background-color: #f5f5f5;
    left: 0;
    bottom: 0;
    min-height: 10px;
    position: fixed;
    width: 100%;
}